.login{
    width: 30%;
    position: relative;
    display: inline-block;
}
.loginimage{
    width: 69%;
    display: inline-block;
    position: relative;
    top: 100px;
}
.loginimage img{
    width: 100%;
    height: 100%;
    
}
.btext{
    font-size: larger;
    color: white;
}
.rs{
    color: white;
    margin-left: 65%;
    margin-right: 0%;
}
.rb{
    margin-right: 3%;
    background-color: #e83344;
    border: none;
    color: white;
    border-radius: 5%;
}
.rb:hover{
    background-color: white;
    color: #e83344;
}
.registerimage{
    width: 69%;
    display: inline-block;
    position: relative;
}
.register{
    width: 30%;
    position: relative;
    display: inline-block;
    top: -150px;
}
.registerimage img{
    width: 100%;
    height: 100%;
    
}
.homeicon{
    width: 60px;
    height: 60px;
}
.wli{
    color: white;
    display: inline;
    margin: 0;
}
.nav-item{
    margin: 0;padding: 0;
}
.hero-section{
    width: 100%;
    height: 97vh;
    background-color: #faf5f5;
    position: relative;
}
.bg-shape {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  
    /* @media (max-width: 800px) {
      display: none;
    } */
  }
.hero-content{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

.hero-content_text{
    display: flex;
    flex-direction: column;
    z-index: 3;
    max-width: 50rem;
    margin-top: 5rem;
}
h4 {
    font-family: sans-serif;
    color: black;
  }

  h1 {
    font-family: sans-serif;
    font-weight: 700;
    color: black;
    line-height: 1.2;
    margin-top: 1rem;
    margin-bottom: 2.3rem;


  }
  .hero-content__text__btns__learn-more{
    color: white;
  } 
  span {
    /* color: #ff7424;
     */
     color: #e83344;
  }
  p {
    font-family: sans-serif;
    line-height: 1.6;
    color: gray;
    margin-bottom: 4rem;
  }
  .hero-content__text__btns{
    display: flex;
    gap: 2rem;
    font-family: sans-serif;
  }
 a {
    text-decoration: none;
    color: white;
    font-weight: 700;
  }
  .hero-content__text__btns__book-ride{
    background-color: #e83344;
        padding: 1.8rem 3rem;
        border-radius: 0.3rem;
        box-shadow: 0 10px 15px 0 rgb(255 83 48 / 35%);
        transition: all 0.3s;
        border: 2px solid #e83344;
  }
  .hero-content__text__btns__book-ride:hover {
    box-shadow: 0 10px 15px 0 #fa4226;
    background-color: #fa4226;
  }
  .hero-content__text__btns__learn-more{
    background-color: black;
        padding: 1.8rem 3rem;
        border-radius: 0.3rem;
        border: 2px solid black;
        transition: all 0.3s;
  }
  .hero-content__text__btns__learn-more:hover {
    background-color: transparent;
    color: black;}
.hero-content__car-img{
    z-index: 2;
    position: absolute;
    right: 0;
    width: 65%;
    margin-top: 5rem;
}
.plan-section {
    background-color: white;
    padding: 5.3rem 0;
  }
  .plan-container {
    display: flex;
    flex-direction: column;}
.plan-container__title{
    margin: 0 auto;
    text-align: center;
    color: black;
}
h3 {

    font-family: sans-serif;
    font-weight: 500;
  }

  h2 {
    font-family:sans-serif;
    margin: 1.3rem 0 3rem 0;
  }
.plan-container__boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 3.7rem;
    padding: 0 3rem;
}
.plan-container__boxes__box{
    text-align: center;
      padding: 1rem 6rem;
}
img {
    /* width: 17rem; */
    height: auto;
  }

  h3 {
    margin-bottom: 1rem;
  }

  p {

    font-family: sans-serif;
    color: gray;
    line-height: 1.43;
  }
  .choose-section {
    background-color: white;
    padding: 2rem 0 10rem 0;
    background-image: url("/src/images/chooseUs/bg.png");
    background-position: -225px 255px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .choose-container {
    display: flex;
    flex-direction: column;
  }
  .choose-container__img{
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
  .text-container {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    width: 100%;
  }
  .text-container__left{
    text-align: left;
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    color: black;
  }
  h4 {
    margin-bottom: 0.7rem;
    font-weight: 600;
    font-family: sans-serif;
  }

  h2 {
    line-height: 1.2;
    margin-bottom: 2rem;
  }

  p {

    font-family: sans-serif;
    line-height: 1.5;
    color: gray;
    margin-bottom: 3.3rem;
  }
  a{
    text-decoration: none;
      color: white;
      font-weight: 700;
      background-color: #e83344;
      padding: 1.5rem 2.5rem;
      border-radius: 0.3rem;
      box-shadow: 0 10px 15px 0 rgb(255 83 48 / 35%);
      transition: all 0.3s;
      border: 2px solid #ff4d30;
      width: fit-content;
  }
  a:hover {
    box-shadow: 0 10px 15px 0 rgb(255 83 48 / 60%);
    background-color: #fa4226;
  }
  .text-container__right {
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
    max-width: 44rem;
  }
  .text-container__right__box {
    display: flex;
  }
  .text-container__right__box img {
    width: 5rem;
    height: 5rem;
    margin-right: 1.1rem;
  }
  .text-container__right__box__text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
  }
  p {
    color: gray;
    font-family:sans-serif;
    line-height: 1.3;}
    footer {
      background-color: white;
      padding: 10rem 0;
    }
    .footer-content {
      display: grid;
      color: #010103;
      grid-template-columns: 27fr 21fr 21fr 21fr;
      gap: 8rem;
      justify-content: center;
      text-align: left;
      color: black;}
      .footer-content__1 {
        list-style: none;}
.footer-content__1 li a{
  text-decoration: none;
        color: black;
        transition: all 0.2s;
}
.footer-content__1 li a:hover{
  color: orange;
}
a1{
  margin-bottom: 1.5rem;
}
.footer-content__1 li a:nth-child(1) span {
  font-weight: 700;
}
.team-container {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: auto;
  gap: 4rem;
  align-items: center;
  text-align: center;
  padding: 10rem 2rem;
  /* width: 200px; */
  margin: 0 auto;
}
.team-container__box {
  /* width: 33rem; */
  background-color: white;
  box-shadow: 0px 20px 10px 0px rgb(0 0 0 / 8%);
}
.team-container__box__img-div {
  width: 100%;
  height: auto;
  background-color: #f6f6f6;
}
.team-container__box__img-div  img {
  width: 100%;
}
.team-container__box__descr{
  color: black;
  padding: 3rem;}
  .team-container__box__descr p {
    font-weight: 500;
    color: #777777;
  }
  .contact-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin: 0 auto;
    color: black;
    padding: 10rem 2rem;
    /* background-image: url("/src/images/banners/bg-contact.png"); */
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .contact-div__text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 41rem;
  }
  h2 {

    line-height: 1.3;
    margin-bottom: 2rem;
  }

  p {

    font-family:sans-serif;
    color: gray;
    line-height: 1.6;
    margin-bottom: 2rem;
  }

  a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: all 0.2s;
    margin-bottom: 0.5rem;}
.contact-div__form{
  display: flex;
    flex-direction: column;
}
.contact-div_form_in{
  display: flex;
  flex-direction: column;
}
.contact-div_form_in  label {
  font-weight: 600;
  margin-bottom: 1rem;}
  .contact-div_form_in  label b{
    color: #fa4226;
  }
  .contact-div_form_in  input {
    background-color: #f2f2f2;
    padding: 19px 30px 19px 30px;
    border: none;
    outline: none;
    margin-bottom: 2.3rem;
  }
  .contact-div_form_in textarea {
    background-color: #f2f2f2;
    height: 18rem;
    padding: 19px 30px 19px 30px;
    border: none;
    outline: none;
    margin-bottom: 2.5rem;
  }
  .contact-div_form_in button {
    background-color: #e83344;
    padding: 0.4rem 0.6rem;
    border-radius: 0.3rem;
    box-shadow: 0 10px 15px 0 rgb(255 83 48 / 35%);
    transition: all 0.3s;
    border: 2px solid #e83344;
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;}
    .contact-div_form_in button:hover{
      box-shadow: 0 10px 15px 0 rgb(255 83 48 / 60%);
      background-color: #fa4226;
    }
    .models-div {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      gap: 3rem;
      align-items: center;
      text-align: center;
      padding: 10rem 0;
      /* width: 110rem; */
      margin: 0 auto;}
       @media screen and  (max-width: 1150px) {
        .models-div{
          grid-template-columns: 1fr 1fr;
        width: fit-content;
        }
      }
      .models-div__box {
        border: 1px solid #d5d5d5;
        border-radius: 0.3rem;
        display: flex;
        /* width: 35rem; */
        flex-direction: column;}

        .models-div__box__img {
          width: 100%;
          height: auto;
          border-radius: 0.3rem;}
.models-div__box__img  img {
     width: 100%;
     height: 27rem;
  }
  .models-div__box__descr {
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    color: black;}

    .models-div__box__descr__name-price {
      display: flex;
      justify-content: space-between;
      align-items: center;}
      .models-div__box__descr__name-price__name {
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 0.5rem;}
        .models-div__box__descr__name-price__name  span{
          display: flex;
          gap: 0.4rem;}
          .models-div__box__descr__name-price__name  span i {
            font-size: 1.4rem;
            color: #ffc933;
          }
      .models-div__box__descr__name-price__price {
        display: flex;
        flex-direction: column;
        text-align: right;}
        .models-div__box__descr__name-price__details {
          /* display: grid; */
          grid-template-columns: 1fr 1fr;
          row-gap: 2rem;
          column-gap: 7rem;
          margin-top: 2.5rem;
          margin: 2rem auto;
          padding-bottom: 2.5rem;
          border-bottom: 1px solid #c6c6c6;}
          .models-div__box__descr__name-price__details span{
            font-size: 1rem;
            font-weight: 500;
            color: #777777;
            text-align: left;
          }
          .models-div__box__descr__name-price__details span i{
            color: black;
          }
          /* .models-div__box__descr__name-price__btn {
            background-color: #ff4d30;
            padding: 1rem 1rem;
            border-radius: 0.3rem;
            box-shadow: 0 10px 15px 0 rgb(255 83 48 / 35%);
            transition: all 0.3s;
            border: 2px solid #ff4d30;
            font-size: 1.8rem;
            cursor: pointer;} */
#otpdiv{
  
margin-top: 300px;
}
.spinnerClass{
  position: relative;
  color: #fa4226;
  margin-top: 200px;
  margin-left: 700px;
}